.l-section-intro {
  background-color: $pink;
  display: flex;
  flex-direction: column;
}
.l-title-intro {
  padding-top: 50px;
  margin: 0;
  font-size: 34px;
  color: white;
  strong {
    color: $red;
  }
}
.l-half-intro {
  display: flex;
  align-items: flex-end;
}
