body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}
.l-relative {
  position: relative;
}
.l-container {
  max-width: 1198px;
  display: flex;
  flex-direction: column;
}
.l-section {
  padding-top: 20px;
  @include tablets {
    max-height: none;
    height: auto;
  }
}
.l-wrapper-div {
  width: 100%;
  display: flex;
  flex-grow: 1;
}
.l-half {
  height: 100%;
  width: 50%;

  &_text-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;

    @include tablets {
      display: block;
    }
  }
}
.l-title {
  font-size: 28px;
  margin: 0;
  margin-bottom: 30px;
  color: black;
  font-weight: 400;
  z-index: 1;

  @include tablets {
    margin-bottom: 15px;
    text-align: center;
  }
  @include phones {
    text-align: center;
    font-size: 24px;
  }
}
.l-paragraph {
  z-index: 1;
  font-size: 16px;
  line-height: 22px;
  color: black;
  margin: 0;

  &_center {
    text-align: center;
  }

  @include tablets {
    margin-bottom: 15px;
    text-align: center;
  }
  @include phones {
    text-align: center;
    font-size: 14px;
  }
}
